.getPokemonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.stepCard:hover {
    transform: scale(1.05);
}

button {
    background-color: #97b6ea ;
    color: white;
}