#root {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 7%;
  padding: 2rem;
  text-align: center;
}

.stepCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #97b6ea;
    transition: transform 0.3s;
}